from urllib# Day 3 Take Home Assignment

**Note**: If we have time, I would like to discuss how to access the Twitter API to extract tweets from it, so if you have a chance please sign up for a Twitter developer account here: https://developer.twitter.com/en

## **HTML Webscraping**

Trump presidential approval poll: https://www.realclearpolitics.com/epolls/other/president_trump_job_approval-6179.html

- Extract the table from the presidential approval polls and place it into a Pandas dataframe.
- Use the code from the Day 3 workbook as a guide.

## **JSON Data Extraction**

Using the legislators social media JSON file, https://theunitedstates.io/congress-legislators/legislators-social-media.json create a Pandas data frame which has the bioguideID, Twitter, Facebook, YouTube and Instagram handles/usernames for each of the members of Congress. 

Each of these should be stored as variables.

In [0]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = 'https://www.realclearpolitics.com/epolls/other/president_trump_job_approval-6179.html'
html = urlopen(url).read()

soup = BeautifulSoup(html, 'lxml')
table = soup.find('table')

headings = [th.get_text() for th in table.find('tr').find_all('th')]

data_simple = []
for tr in table.find_all('tr'):
    row = []
    for td in tr:
        row.append(td.get_text())
    data_simple.append(row) 
data_simple = data_simple[1:]

data_df = pd.DataFrame(data_simple)
data_df.columns = headings

data_df['Poll'][0] = 'RCP Average'
data_df['Poll'][1] = 'Rasmussen'
data_df['Poll'][2] = 'YouGov'
data_df['Poll'][3] = 'Politico'
data_df['Poll'][4] = 'Reuters'
data_df['Poll'][5] = 'FOX News'
data_df['Poll'][6] = 'CNBC'
data_df['Poll'][7] = 'Quinnipiac'
data_df['Poll'][8] = 'Harris'

data_df

                                Poll         Date  ... Disapprove  Spread
0                        RCP Average   5/25 - 6/4  ...        54.0  -11.1
1                          Rasmussen    6/1 - 6/4  ...          56    -12
2                             YouGov    6/2 - 6/3  ...          55    -13
3                           Politico    6/2 - 6/4  ...          51     -3
4                            Reuters    6/2 - 6/3  ...          50     -7
5                           FOX News   5/31 - 6/3  ...          52    -10
6                               CNBC    6/1 - 6/2  ...          57    -17
7                         Quinnipiac   5/31 - 6/2  ...          55    -12
8                             Harris   5/29 - 6/2  ...          54    -14
9   Politico/Morning ConsultPolitico   5/29 - 6/1  ...          55    -14
10                  MonmouthMonmouth   5/28 - 6/1  ...          54    -11
11                          CNBCCNBC  5/29 - 5/31  ...          56    -12
12          ABC News/Wash PostABC/WP  5/25 - 5/28  ...          53     -8

[13 rows x 6 columns]

In [0]:
# JSON Data Extraction

import pandas as pd 
import numpy as np
import json
import requests

legsocial = requests.get('https://theunitedstates.io/congress-legislators/legislators-social-media.json').json()

legsocial_initial = []

for i in legsocial:
  try:
    bioguideID = i['id']['bioguide']
    twitterID = i['social']['twitter']
    fbID = i['social']['facebook']
    ytID = i['social']['facebook']
    instaID = i['social']['instagram']
    dict = {'Bioguide ID': bioguideID,
            'Twitter ID': twitterID,
            'Facebook ID': fbID,
            'YouTube ID': ytID,
            'Instagram ID': instaID }
    legsocial_initial.append(dict)
  except:
    next

legsocial_final = pd.DataFrame(legsocial_initial)
legsocial_final.head(3)

  Bioguide ID     Twitter ID  ...         YouTube ID   Instagram ID
0     Y000064   SenToddYoung  ...   SenatorToddYoung   sentoddyoung
1     E000295   SenJoniErnst  ...       senjoniernst   senjoniernst
2     T000476  senthomtillis  ...  SenatorThomTillis  senthomtillis

[3 rows x 5 columns]